---
InheritParentConfig: true
# Must disable readability-inconsistent-declaration-parameter-name because of FFF mocking
Checks: >
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers
